.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 4px;
    width: 200px;
    margin: 0 auto;
    box-shadow: var(--shadow);
    background-color: var(--primary);
    color: var(--secondary);
}

.counter-value {
    font-size: 16px;
    color: var(--secondary);
}
