.search-form__input {
    flex-grow: 1;
    padding: 8px 12px;
    border: none;
    font-size: 16px;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 4px;
    box-shadow: var(--shadow);
    transition: box-shadow 150ms ease;
}

.search-form__input:hover,
.search-form__input:focus {
    box-shadow: var(--shadow-hover);
    outline: none;
    transition: box-shadow 150ms ease;
}
