.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 12px;
    max-width: 520px;
    margin: 0 auto;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section {
    display: flex;
    gap: 8px;
    background-color: var(--primary);
    padding: 24px;
    border-radius: 4px;
}

.btn {
    padding: 8px 12px;
    background-color: var(--secondary);
    border: none;
    border-radius: 4px;
    color: var(--primary);
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.btn.light {
    background-color: var(--primary);
    color: var(--secondary);
}

.btn:hover {
    box-shadow: var(--shadow-hover);
    transition: box-shadow 150ms ease;
}
